@model IEnumerable<ASPNETWebAppMVCStudentApp.Models.Course>
@using System.Linq

@{
    ViewBag.Title = "Courses";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Credits</th>
            <th>Department</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @if (!Model.Any())
    {
        <tr>
            <td colspan="4">No courses found.</td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(_ => item.Title)</td>
                <td>@Html.DisplayFor(_ => item.Credits)</td>
                <td>@item.Department?.Name</td>
                <td class="text-right">
                    @Html.ActionLink("Details", "Details", new { id = item.CourseID }, new { @class = "btn btn-outline-secondary btn-sm" })
                    @Html.ActionLink("Edit", "Edit", new { id = item.CourseID }, new { @class = "btn btn-outline-primary btn-sm mx-1" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.CourseID }, new { @class = "btn btn-outline-danger btn-sm" })
                </td>
            </tr>
        }
    }
    </tbody>
</table>
